<h3>Create Employee</h3>
<div [hidden]="submit" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">First Name</label>
            <input type="text" class="form-control" id="firstname" required [(ngModel)]="employee.firstname" name="firstname">
        </div>

        <div class="form-group">
            <label for="name">Last Name</label>
            <input type="text" class="form-control" id="lastname" required [(ngModel)]="employee.lastname" name="lastname">
        </div>

        <div class="form-group">
            <label for="name">Email ID</label>
            <input type="text" class="form-control" id="emailid" required [(ngModel)]="employee.emailid" name="emailid">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

<div [hidden]="!submit">
    <h4>You submitted successfully!</h4>
</div>